<form class="{{cssClass}}" autocomplete="off">
    <div class="details">
        <div data-edit="data.details.concept" contenteditable>
            {{data.details.concept}}
        </div>
    </div>
    <p>"hello"</p>
</form>