<form class="{{cssClass}}" autocomplete="off">
    <div class="details">
        <p class="concept">
            <div data-edit="data.details.concept" contenteditable="true">
                {{data.details.concept}}
            </div>
        </p>
        <p class="sourcesOfStability">
            <div data-edit="data.details.sourcesOfStability" contenteditable="true">
                {{data.details.sourcesOfStability}}
            </div>
        </p>
    </div>
    <p>"hello"</p>
</form>